body {
    margin: 0;
}

.container {
    width: auto;
    margin: 0 50px;
}

.article-image {
    width: 250px;
    height: 150px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* -------------------------------- 

Title: Tabbed Navigation
Descr: Tabbed secondary navigation

-------------------------------- */
.navbar {
    background-color: black;
    text-align: -webkit-center;
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.card {
    background-color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-shadow: 5px 10px 10px #000;
    border-radius: 10px;
    border: 1px solid #000;
    margin-top: 10px;
}

.card:nth-child(4n+1):nth-last-child(-n+4),
.card:nth-child(4n+1):nth-last-child(-n+4)~.card {
    margin-bottom: 15px;
}

.article-description {
    padding-left: 10px;
    padding-right: 10px;
}

.article-title {
    padding-left: 5px;
    padding-right: 5px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 5px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: black;
    /* Set a background color */
    color: grey;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 5px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    border: 3px solid grey;
    font-weight: bold;
}

#myBtn:hover {
    background-color: white;
    /* Add a dark-grey background on hover */
}

.searchBox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


@media only screen and (max-width: 500px) {
    .s-tabs__list {
        padding-left: 0;
        justify-content: space-evenly;
    }

    .card:last-child {
        margin-bottom: 15px;
    }

    #title h1 {
        text-align: center;
    }
}

@media only screen and (min-width: 501px) {
    #title {
        display: grid;
        grid-column-start: 1;
        grid-column-end: span 4;
        text-align: center;
    }

    #output {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    hr {
        visibility: hidden;
    }

    li {
        margin-right: 20px;
    }

    .s-tabs {
        display: inline-flex;
    }

    .navbar {
        text-align: center;
    }

    .s-tabs__list {
        padding-left: 0;
        margin-right: 20px;
    }

    .searchBox {
        margin-top: 18px;
        margin-left: 20px;
    }

    .searchTerm {
        font-size: 1rem;
    }

    a {
        font-size: 1.5rem;
    }
}

h1 {
    margin-top: 85px;
}

.s-tabs {
    width: 400px;
    pointer-events: auto;
}

.s-tabs__list {
    display: flex;
    overflow: none;
    -webkit-overflow-scrolling: none;
    list-style-type: none;
    width: 100%;
    margin-left: 0;
    justify-content: space-around;
}

li {
    padding-right: 10px;
}

a {
    color: grey;
    text-decoration: none !important;
    display: inline-block;
    white-space: nowrap;
    z-index: 1;
}

a:hover {
    color: white;
}

:focus {
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
}

.footer {
    background-color: black;
    color: grey;
    font-size: .75rem;
    text-align: -webkit-center;
    display: inline-block;
    width: 100%;
    line-height: .5em;

}

.searchTerm {
    float: left;
    width: auto;
    border: 1px solid #1400cc;
    padding: 5px;
    height: 10px;
    /* border-radius: 5px; */
    outline: none;
    color: #000000;
    background-color: whitesmoke;
    font-style: italic;
}

.searchTerm:focus {
    color: #00B4CC;
}
